.container {
  display: flex;
  flex-wrap: wrap;
}

.products {
  margin: 15px;
  border: 2px solid #6495ed;
  border-radius: 2px;
  padding: 20px;
}

.products h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

.products img {
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
}

.products h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.products p {
  font-size: 20px;
  margin-bottom: 15px;
}
