<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/admin/add" method="POST">
      <label for="name">Title</label>
      <input name="name" id="name" type="text" />

      <label for="imageUrl">Image URL</label>
      <input name="imageUrl" id="imageUrl" type="text" />

      <label for="price">Price</label>
      <input name="price" id="price" type="number" />

      <label for="description">Description</label>
      <input name="description" id="description" type="text" />
      <button type="submit">Add product</button>
    </form>
  </body>
</html>
